body{
    font-family: 宋体;
    font-size: 20px;
    background-size:cover ;
}
h1{
    color: #000000;
}
h2{
    color:black;
}
h3{
    font-family: 微软雅黑;
    color: black;
    font-size: 5px;
}


label1{
    /*居中对齐*/
    display: inline-block;
    float: left;
    width: 300px;
    height: 40px;
    text-align: right;
}
.flex {
    display: flex;
}
.father {
    width: 1000px;
    height: 500px;
    margin: 50px auto;

}
.son {
    float: left;
    width: 100px;
    height: 100px;

}
.son1{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 200px;

}
.son2 {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 200px;

}