.div{
    position: absolute;
    top: 60px;
    left: 200px;
}
.form-control1 {
    height: 30px;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
#span11{
    position: absolute;
    top: 65px;
    left: 200px;
}
#span111{
    position: absolute;
    top: 65px;
    left: 500px;
}
#location{
    position: relative;
    top:0px;
    left:0px;
}
#span{
    position: relative;
    top: 0px;
    left: 0px;
}
#span1{
    position: relative;
    top: 0px;
    left: 0px;
}
.div1{
    position: absolute;
    top: 100px;
    left: 200px;
}